@model LMS.Models.PasswordRequestViewModel

@{
    ViewBag.Title = "PasswordRequestViewModel";
}
<link rel="stylesheet" href="../Content/Login.css" />

<font size="33" color="#3ed3d3">Bekräfta åtgärd med lösenord</font>

@using (Html.BeginForm("PasswordRequest", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Lärarens lösenord" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-warning" value="Fortsätt" id="@ViewBag.CourseId"/>
        </div>
    </div>

}





