@model LMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<h2>@Model.Name</h2>

<div>
    <h4>Modul</h4>
    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Datum</th>
                <th class="text-center">Dag</th>
                <th class="text-center">Aktivitet förmiddag</th>
                <th class="text-center">Aktivitet eftermiddag</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.Activities.Count; i++)
            {
                <tr >
                    <td class="text-center">@ViewBag.Activities[i]</td>
                    @if (i < ViewBag.WeekDays.Count)
                    {
                        <td class="text-center">@ViewBag.WeekDays[i]</td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }
                    @if (i < ViewBag.aktivitetFM.Count &&)
                    {
                        <td class="text-center">
                            <a href="@Url.Action("Details", "Activities", new { id = Model.Id })">@ViewBag.aktivitetFM[i]</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }
                    @if (i < ViewBag.aktivitetEM.Count)
                    {
                        <td class="text-center">
                            <a href="@Url.Action("Details", "Activities", new { ModuleId = Model.Id })">@ViewBag.aktivitetEM[i]</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <a class="btn btn-default col-md-3" href="@Url.Action("Create", "Activities", new { ModuleId = Model.Id })">Skapa en ny aktivitet för denna modul</a> <!--Ändra namn för route value om det behövs-->
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<div class="row">
    <button class="btn btn-default col-md-2" id="courseModulesButton">Schema</button>
</div>

<div id="schedule" class="row"></div>
@*@{
    <a href="@Url.Action("ModuleSchedule","Module",new { id = Model.Id})">content</a>
    Html.RenderPartial("ModuleSchedule", new { id = Model.Id}); 
}*@
<script>
    $(document).ready(function () {
        $('#courseModulesButton').click(function () {
            $('#schedule').toggle(500, function () {
                $("#schedule").load('@Url.Action("Schedule","Module",new { id = Model.Id})');
            });

        });
    })
</script>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
    }
    @Html.ActionLink("Back to Module overview", "Details", "Courses", new { id = Model.CourseId }, null)
</p>
