@model LMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <h4>Modul</h4>
    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Datum</th>
                <th class="text-center">Dag</th>
                <th class="text-center">Aktivitet förmiddag</th>
                <th class="text-center">Aktivitet eftermiddag</th>
            </tr>
        </thead>
        <tbody>
            @{ var v = 0;}
            @for (int i = 0; i < ViewBag.Dates.Count; i++)
            {
                <tr >
                    

                    @if (i <= ViewBag.Dates.Count)
                    {
                        <td class="text-center">@ViewBag.Dates[i]</td>
                        <td class="text-center">@ViewBag.WeekDays[i]</td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }

                    @if (i < ViewBag.FM.Count && @ViewBag.FM[i] != null)
                    {
                        <td class="text-center">@ViewBag.FM[i].Name</td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }

                    @if (i < ViewBag.EM.Count && @ViewBag.EM[i] != null)
                    {
                        <td class="text-center">@ViewBag.EM[i].Name</td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }
                </tr>
            }
        </tbody></table><div class="row">
        <a class="btn btn-default col-md-3" href="@Url.Action("Create", "Activities", new { ModuleId = Model.Id })">Skapa en ny aktivitet för denna modul</a> <!--Ändra namn för route value om det behövs-->
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
    }
    @Html.ActionLink("Back to Module overview", "Details", "Courses", new { id = Model.CourseId }, null)
</p>
