@model LMS.Models.Module

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<h2>@Model.Name</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Description)</h4>
    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Datum</th>
                <th class="text-center">Dag</th>
                <th class="text-center">Aktivitet förmiddag</th>
                <th class="text-center">Aktivitet eftermiddag</th>
            </tr>
        </thead>
        <tbody>
            @{ var v = 0;}
            @for (int i = 0; i < ViewBag.Dates.Count; i++)
            {
                <tr>


                    @if (i <= ViewBag.Dates.Count)
                    {
                        <td class="text-center">@ViewBag.Dates[i]</td>
                        <td class="text-center">@ViewBag.WeekDays[i]</td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }

                    @if (i < ViewBag.FM.Count && @ViewBag.FM[i] != null)
                    {
                        <td class="text-center">
                            <a href="@Url.Action("Details", "Activities", new { id = ViewBag.FM[i].Id })">@ViewBag.FM[i].Name</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }

                    @if (i < ViewBag.EM.Count && @ViewBag.EM[i] != null)
                    {
                        <td class="text-center">
                            <a href="@Url.Action("Details", "Activities", new { id = @ViewBag.EM[i].Id })">@ViewBag.EM[i].Name</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        @if (User.IsInRole("Teacher"))
        {
            <a class="btn btn-default col-md-3" href="@Url.Action("Create", "Activities", new { ModuleId = Model.Id })">Skapa en ny aktivitet för denna modul</a> <!--Ändra namn för route value om det behövs-->
        }
    </div>
</div>
<div class="row">
    <button class="btn btn-default col-md-2" id="courseModulesButton">Schema</button>
</div>

<div id="schedule"></div>
@*@{
    <a href="@Url.Action("ModuleSchedule","Module",new { id = Model.Id})">content</a>
    Html.RenderPartial("ModuleSchedule", new { id = Model.Id}); 
}*@
<script>
    $(document).ready(function () {
        $('#courseModulesButton').click(function () {
            $('#schedule').toggle(500, function () {
                $("#schedule").load('@Url.Action("ModuleSchedule","Module",new { id = Model.Id})');
                //document.getElementById("Scheme").style.border = "inset";

            });

        });
    })
</script>
<p>
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
    }
    @Html.ActionLink("Back to Module overview", "Details", "Courses", new { id = Model.CourseId }, null)
</p>
