@model LMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.StartTime.Hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EndTime.Hour)
        </dd>

    </dl>
</div>

<div class="row">
	<button class="btn btn-default col-md-2" id="documentButton">Dokument</button>
</div>

<div id="documents" class="row" style="display:none"></div>

<script>
    $(document).ready(function () {
        $('#documentButton').click(function () {
            $('#documents').toggle(500, function () {
                $("#documents").load("@Url.Action("ShowDocuments","Activities",new { id = Model.Id})");
            });
        });
    })
</script>

<p>
    @Html.ActionLink("Tillbaka till modulen", "Details", "Module", new { id = Model.ModuleId }, null)

    @if (User.IsInRole("Teacher"))
    {
        <span>|</span>
        @Html.ActionLink("Ändra egenskaper", "Edit", new { id = Model.Id, ModuleId = Model.Module.Id });
        <span>|</span>
        @Html.ActionLink("Radera", "Delete", new { id = Model.Id });
    }

</p>
