@model IEnumerable<LMS.Models.ApplicationUser>



<h3 id="P2">Elever:</h3>
@if (User.IsInRole("Teacher"))
{
    <a class="btn btn-success col-md-offset-10 col-md-2" href="@Url.Action("Register", "Account", new { courseID = ViewBag.CourseId })">Registrera en ny student</a>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>

            @if (User.IsInRole("Teacher"))
            {
                @*@ViewBag.EmailForExitAccount = item.Email;*@
                <a class="btn btn-warning" href="@Url.Action("ExitAccount", "Account", new { id = item.Id })">Avsluta konto</a>

                @*@Html.ActionLink("ExitAccount", "Account", new { id = item.Id }, null)*@
            }
        </td>
    </tr>
}

</table>
