@model IEnumerable<LMS.Models.Module>


@if (User.IsInRole("Teacher"))
{
    <p>@Html.ActionLink("Create New", "Create", "Module", new { CourseId = ViewBag.CourseId }, null)</p>
}

<table class="table">
    <tr class="row">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @*@Html.ActionLink("Create New", "Create")*@ @*TODO Make it create a new module in current course*@
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="row">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (User.IsInRole("Teacher"))
            {
                @Html.ActionLink("Edit", "Edit", "Module", new { id = item.Id }, null) 
                <span>|</span>
            }

            @Html.ActionLink("Details", "Details","Module", new { id=item.Id },null)

            @if (User.IsInRole("Teacher"))
            {
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", "Module", new { id = item.Id },null)
            }
        </td>
    </tr>
}

</table>
