@model LMS.Models.Course

@{
    ViewBag.Title = Model.Name + " - Detaljvy";
    ViewBag.CourseId = Model.Id;
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<h2>@Html.DisplayFor(model => model.Name)</h2>

<br />
<div class="well well-lg">@Html.DisplayFor(model => model.Description)</div>
<div class="row">

    <button class="btn btn-default col-md-2" id="courseModulesButton">Modullista</button>
    <button class="btn btn-default col-md-offset-1 col-md-2" id="studentListButton">Studentlista</button>
    <button class="btn btn-default col-md-offset-1 col-md-2" id="scheduleButton">Schema</button>
    <button class="btn btn-default col-md-offset-1 col-md-2" id="documentButton">Kursdokument</button>

</div>
<br />
<div class="row">
    
    
</div>
<div id="Scheme" class="row" style="display:none"></div>
<div id="schedule" class="row" style="display:none"></div>
<div id="studentList" class="row" style="display:none"></div>
<div id="documents" class="row" style="display:none"></div>

<script>
    $(document).ready(function () {
        $('#courseModulesButton').click(function () {
            $('#Scheme').toggle(500, function () {
                $("#Scheme").load("@Url.Action("CourseModules","Courses",new { id = Model.Id})");
            });
        });
         $('#scheduleButton').click(function () {
            $('#schedule').toggle(500, function () {
                $("#schedule").load('@Url.Action("Schedule","Courses",new { id = Model.Id})');
            });

        });
        $('#studentListButton').click(function () {
            $('#studentList').toggle(500, function () {
                $('#studentList').load('@Url.Action("CourseStudents","Courses",new { id = Model.Id})');
            });
        });
        $('#documentButton').click(function () {
            $('#documents').toggle(500, function () {
                $("#documents").load("@Url.Action("ShowDocuments","Courses",new { id = Model.Id})");
            });
        });
    });
</script>
