@model LMS.Models.Course

@{
    ViewBag.Title = "Details";
    ViewBag.CourseId = Model.Id;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<h2>@Html.DisplayFor(model => model.Name)</h2>
<div id="Scheme">

</div>
<br />
<div class="well well-lg">@Html.DisplayFor(model => model.Description)</div>
<div class="row">
    <button class="btn btn-default col-md-2" id="courseModulesButton">Modules</button>
    <button class="btn btn-default col-md-offset-1 col-md-2" id="studentListButton">Student list</button>
</div>
<br />
<div class="row">
    <button class="btn btn-default col-md-2">Course literature</button>
    @if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-default col-md-offset-1 col-md-2" href="@Url.Action("Register", "Account", new { id = Model.Id })">Register a new Student</a> @*id="1" sent to switch in /AccountController/Register*@
    }
</div>

<div id="studentList"></div>

<script>
    $(document).ready(function () {
        $('#courseModulesButton').click(function () {
            $('#Scheme').toggle(500, function () {
                $("#Scheme").load('@Url.Action("CourseModules","Courses",new { id = Model.Id})');
                //document.getElementById("Scheme").style.border = "inset";

            });

        });

        $('#studentListButton').click(function () {
            $('#studentList').toggle(500, function () {
                $('#studentList').load('@Url.Action("CourseStudents","Courses",new { id = Model.Id})');
            });
        });
    });
</script>
