@model LMS.Models.Course

@{
    ViewBag.Title = Model.Name + " - Detaljvy";
    ViewBag.CourseId = Model.Id;
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<h2>@Html.DisplayFor(model => model.Name)</h2>

@if (ViewBag.Message != null)
{
    <span style="color:forestgreen">@ViewBag.Message</span>
}
<br />

<div class="well well-lg" style="background-color:#b0aff5;">@Html.DisplayFor(model => model.Description)</div>
<div class="row">

    <button class="btn btn-info col-md-2" id="courseModulesButton">Modullista</button>
    <button class="btn btn-info col-md-offset-1 col-md-2" id="studentListButton">Studentlista</button>
    <button class="btn btn-info col-md-offset-1 col-md-2" id="scheduleButton">Schema</button>
    <button class="btn btn-info col-md-offset-1 col-md-2" id="documentButton">Kursdokument</button>

</div>
<br />
<div class="row">
    
    
</div>
<div id="Scheme" class="row" style="display:none"></div>
<div id="schedule" class="row" style="display:none"></div>
<div id="studentList" class="row" style="display:none"></div>
<div id="documents" class="row" style="display:none"></div>

<script>
    $(document).ready(function () {
        $('#courseModulesButton').click(function () {
            var target = "#Scheme";
            $(target).toggle(500, function () {
                $(target).load("@Url.Action("CourseModules","Courses",new { id = Model.Id})");
            });
            $('html,body').animate({
                scrollTop: $(target).offset().top
            });
        });
        $('#scheduleButton').click(function () {
            var target = "#schedule";
            $(target).toggle(500, function () {
                $(target).load('@Url.Action("Schedule","Courses",new { id = Model.Id})');
            });
             $('html,body').animate({
                scrollTop: $(target).offset().top
            });

        });
        $('#studentListButton').click(function () {
            var target = "#studentList";
            $(target).toggle(500, function () {
                $(target).load('@Url.Action("CourseStudents","Courses",new { id = Model.Id})');
            });
             $('html,body').animate({
                scrollTop: $(target).offset().top
            });
        });
        $('#documentButton').click(function () {
            var target = "#documents";
            $(target).toggle(500, function () {
                $(target).load("@Url.Action("ShowDocuments","Courses",new { id = Model.Id})");
            });
             $('html,body').animate({
                scrollTop: $(target).offset().top
            });
        });
    });
</script>
