@model LMS.Models.Course

@{
	ViewBag.Title = Model.Name + " - Detaljvy";
	ViewBag.CourseId = Model.Id;
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<h2>@Html.DisplayFor(model => model.Name)</h2>

<br />
<div class="well well-lg">@Html.DisplayFor(model => model.Description)</div>
<div class="row">

	<button class="btn btn-default col-md-2" id="courseModulesButton">Modullista</button>
	<button class="btn btn-default col-md-offset-1 col-md-2" id="studentListButton">Studentlista</button>
	<button class="btn btn-default col-md-offset-1 col-md-2" id="scheduleButton">Schema</button>
	@if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-default col-md-offset-1 col-md-2" href="@Url.Action("Create", "Module", new { CourseId= Model.Id })">Skapa en ny modul</a>
        <a class="btn btn-default col-md-offset-1 col-md-2" href="@Url.Action("Register", "Account", new { courseID = Model.Id })">Registrera en ny student</a>
    }

</div>
<br />
<div class="row">
	@*<button class="btn btn-default col-md-2">Course literature</button>*@
	
</div>
<div id="Scheme"></div>
<div id="schedule"></div>
<div id="studentList"></div>

<script>
	$(document).ready(function () {
		$('#courseModulesButton').click(function () {
			$('#Scheme').toggle(500, function () {
				$("#Scheme").load("@Url.Action("CourseModules","Courses",new { id = Model.Id})");
			});
		});
		 $('#scheduleButton').click(function () {
			$('#schedule').toggle(500, function () {
				$("#schedule").load('@Url.Action("Schedule","Courses",new { id = Model.Id})');
			});

		});
		$('#studentListButton').click(function () {
			$('#studentList').toggle(500, function () {
				$('#studentList').load('@Url.Action("CourseStudents","Courses",new { id = Model.Id})');
			});
		});
	});
</script>
