@model IEnumerable<LMS.Models.Course>

@{
    ViewBag.Title = "Kursöversikt";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form class="form-inline">
    <div class="form-group">
        <label for="text">Text Search: </label>
        <input type="text" class="form-control" id="text"/>
    </div>
    <div class="checkbox">
        <input type="checkbox">
        <label>Include non-active courses</label>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>

<hr />

<div class="row">

@foreach (var item in Model) {
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="row"><b>Namn: </b>@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="row"><b>Beskrivning: </b>@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="row"><b>Start Datum: </b>@Html.DisplayFor(modelItem => item.StartDate)</div>
         @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
         @Html.ActionLink("Details", "Details", new { id=item.Id }) |
         @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    </div>
}

</div>